.container {
  margin: auto;
  max-width: 500px;
  font-family: sans-serif;
}

.heading {
  color: rebeccapurple;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: black;
}

.site-title {
  font-size: 1.5rem;
  color: #d3d3d3; 
  width: 100%;
  font-weight: 700;
  margin: 1rem 0; 
  padding-left: 1rem; 
  background-color: #A9A9A9; 
  border-bottom: 1px solid black; 
  text-align: left; 
}
