/* Navbar.module.css */
.navbar {
    background-color: #21222d;
    box-sizing: border-box;
    overflow: hidden;
    color: #f8f8f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    margin-bottom: 1rem;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar li a:hover {
    background-color: #555;
}

.navbarIcons a {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
}

.navbarIcons a img {
    height: 24px;
    width: 24px;
 transition: transform 0.3s ease, fill 0.3s ease; 
}

.navbarIcons a:hover img {
  transform: scale(1.2); 
}

@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbarIcons {
        order: 1;
        width: 100%;
        justify-content: center;
        margin-top: 0.5rem;
    }

    .navbar ul {
        width: 100%;
        flex-direction: column;
        order: 2;
    }

    .navbar li {
        width: 100%;
        text-align: center;
    }
}
